# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Benjamin Herson
#	email = benjaminherson@gmail.com
[user]
	name = Benjamin Herson
	email = benjaminherson@gmail.com
